<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881998596496-poplv8fa90tbg4ko8d1e8iefcvjjista.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881998596496-poplv8fa90tbg4ko8d1e8iefcvjjista</string>
	<key>API_KEY</key>
	<string>AIzaSyBt8_cN6YbGKbTLSMyaEwu-YTAeUIniyTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>881998596496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivan.evs.Podcasts</string>
	<key>PROJECT_ID</key>
	<string>podcast-app-8fcd2</string>
	<key>STORAGE_BUCKET</key>
	<string>podcast-app-8fcd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881998596496:ios:e956768a319e02c3e0cb15</string>
</dict>
</plist>